html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

.wrapper {
  height: 100vh;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-right: 30px;
  margin-bottom: 80px;
  margin-left: 30px;
}

.feature__text {
  text-align: center;
  margin-bottom: 75px;
}

@media (min-width: 1025px) {
  .feature__text {
    margin-bottom: 65px;
  }
}

.feature__text h2 {
  color: #4c4e61;
}

@media (min-width: 1025px) {
  .feature__text h2 {
    font-size: 2.1rem;
  }
}

.feature__text h2:first-child {
  font-weight: 200;
}

@media (min-width: 1025px) {
  .feature__text h2:nth-child(2) {
    margin-bottom: 15px;
  }
}

.feature__text p {
  color: #a3a5ae;
}

@media (min-width: 1025px) {
  .feature__text p {
    width: 513px;
    font-size: .9rem;
  }
}

.feature__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 310px;
  height: 225px;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 10px;
  -webkit-box-shadow: 7px 10px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 10px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media (min-width: 1025px) {
  .feature__card {
    width: 350px;
    height: 250px;
  }
}

.feature__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 257px;
  height: 163px;
  margin: 31px 27px 28px 26px;
}

@media (min-width: 1025px) {
  .feature__card__info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: unset;
    height: unset;
    margin: 9px 27px 23px 29px;
  }
}

.feature__card__title {
  color: #4c4e61;
}

@media (min-width: 1025px) {
  .feature__card__title {
    font-size: 1.3rem;
  }
}

.feature__card p {
  margin-top: -0.75rem;
  font-size: .82rem;
  line-height: 1.4rem;
  color: #a3a5ae;
}

.feature__card .img {
  background-image: url(/images/icon-supervisor.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin-left: auto;
}

.feature__card .img-builder {
  background-image: url(/images/icon-team-builder.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin-left: auto;
}

.feature__card .img-karma {
  background-image: url(/images/icon-karma.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin-left: auto;
}

.feature__card .img-calc {
  background-image: url(/images/icon-calculator.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 59px;
  height: 59px;
  margin-left: auto;
}

@media (min-width: 1025px) {
  .cyan {
    position: absolute;
    right: 375px;
  }
}

.cyan::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 4px;
  width: 350px;
  background-color: #45d3d3;
}

.red::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 4px;
  width: 350px;
  background-color: #ea5353;
}

.orange::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 4px;
  width: 350px;
  background-color: #fcaf4a;
}

.blue {
  margin-bottom: 75px;
}

@media (min-width: 1025px) {
  .blue {
    position: absolute;
    left: 375px;
  }
}

.blue::before {
  content: '';
  position: absolute;
  top: 0px;
  height: 4px;
  width: 350px;
  background-color: #549ef2;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */